{%extends "base.html"%}
{%load static%}
<!DOCTYPE html>
<html>
<head>
	
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{%static 'css/main.css'}">
</head>
<body>

{% block content%}
	<!-- RESUME PDF -->

	<!-- CERTIFICATIONS -->
<h2>Support Level II QuickNode Miami, FL | Remote, Apr 2022 - November 2023</h2>
  <p>At QuickNode, I played a pivotal role in ensuring outstanding customer experiences within a network that handled over 10 billion monthly requests. Working with clients such as Coinbase, Opensea, and Google, duties encompassed addressing customer inquiries and debugging Web3 requests to collaborating closely with cross-functional teams and managing infrastructure. Leveraging my expertise in scripting languages such as Python as well as my in-depth knowledge of internet core protocols and the Ethereum JSON RPC spec, I excelled in delivering top-tier support. My proficiency in Linux host management, proactive alerting, and hands-on experience in technical customer support allowed me to contribute significantly to our customer-centric culture.</p>
<h2>Managed Services NOC Engineer Lincoln IT, Hicksville, NY Aug 2020- Mar 2022</h2>  
  <p>In this role my primary function is monitoring and escalations of our client networks and infrastructure to ensure continuity. In addition to monitoring all of our client sites, I handled any escalated issues or tickets coming from our help desk. Beyond these duties, I work on ad hoc projects with our various teams, from networking projects, to server maintenance and builds.</p>
<h2>Account Manager, Prosource.it New York, NYSep 2019 - Mar 2020</h2>
  <p>Here I work with key stakeholders to facilitate and coordinate various aspects of our main account in the NY region, WPP. This entailed working with WPP internal IT, Finance, and HR teams as well as C level executives from their subsidiaries to drive digital transformation projects in North America. Further, I assist the program and project management teams with administrative duties. Beyond this, I provide business development and outreach in the greater NY area.</p>  
<h2>Technical Support , Valiant Technology New York, NYAug 2017-Sep 2019</h2>
  <p>Embedded at an entertainment law firm for a large part of my tenure, I was the first point of contact and handled all issues for the firm, from troubleshooting the network and servers, to providing day to day support for the Attorneys and Staff. Technologies employed at the firm include Office 365, Microsoft Server, Remote Desktop, Hyper-V, Meraki, Cisco, and Avaya phones. Daily tasks encompass phone configuration, onboarding and offboarding employees, help desk, and project coordination. Beyond this I was tasked with various database maintenance and backup, group policy deployments, and monitoring of critical systems both server and network. Outside of the Firm, I worked with a wide array of clients, interfacing with technologies including, but not limited to, G-Suite, Sonic Wall, Synology, Citrix, VMWare and more. I also participated in many projects, assisting in the install</p>
<h2>Technical Support Gobi IT New York, NYJan 2017-July 2017</h2>  
  <p>This role encompassed remote troubleshooting, performing onsite calls, and delegating and working on tickets emailed through Connectwise. Tasks included everything from troubleshooting Quickbooks and Microsoft Office, to setup and deployment of AP?s and VMWare servers. Worked with technologies including Cisco switches, Watchguard firewalls, 8x8 phones and many other vendor products.</p>
<h2>Sales Manager, Observer Media Group New York NY-2011-2016</h2>
  <p>In this role my main focus was on managing accounts and developing new business opportunities. This entails constant client interaction and account tracking via Salesforce. Quantitative and qualitative research were key in reaching and exceeding revenue goals. Other duties included working with different departments on ad trafficking. I also tracked employee hours for my department.</p>
<h2>Teacher, YBM-ECC Seoul, South Korea 2009-2011</h2>  
  <p>My primary role here was teaching English to native Korean speakers. I taught various age groups, and skill levels. Designing creative lesson plans and classroom management played a key role in providing a productive learning environment for students. Outside of the classroom I was a liaison to foreign teachers from the U.S. and abroad.</p>
<h2>Skills | Technologies</h2>
<p>
<b>Programming Languages</b>
Python, HTML, CSS, JavaScript
<b>Version Control & Frameworks</b>
Git, Django, Node.js, Streamlit, ethers.js, web3.py
<b>Web Servers & APIs</b>
Apache, Ethereum JSON RPC API, Webhooks, HAProxy, cURL
<b>Monitoring & Analytics</b>
DataDog, Grafana
<b>Infrastructure & Hardware</b>
Linux, Amazon EC2, Amazon Lightsail, Network Storage, PC & Mac Troubleshooting, Amazon Workstations, HP Proliant Servers
<b>Networking & Telephony</b>
DNS, DHCP, VoIP, SIP, Meraki APs, Ubiquiti Unifi, documention of network topologies and architectures
<b>Virtualization & Remote Access</b>
Hyper-V, Citrix, VMware, vSphere, VirtualBox
<b>Administration & IT Management</b>
Active Directory, Office 365, PowerShell, Endpoint Management (Kaseya, Autotask), IT Camera Installation
<b>AI and Automation</b>
ChatGPT, GitHub Copilot, Bard, Claude.ai, Zapier, Clonezilla, Chocolatey
<b>Cloud & SaaS Services</b>
GitHub, Zendesk, Productboard, Metabase
<b>Protocols & Formats</b>
JSON, JSON RPC
<b>Communication & Collaboration Tools</b>
Slack, Notion, Microsoft Teams, Zoom, Confluenc, Jira, Shortcut, Google Workspace, IT Glue
<b>Security & Encryption</b>
Bitlocker, Deslock
<b>Office Productivity</b>
MS Office 365, Outlook
<b>Ticketing Systems</b>
Autotask, ConnectWise
</p>
<h2>Relevant Certifications</h2> 
<ul>
  <li>Google Project Management</li>
  <li>AWS Certified Cloud Practitioner</li>
  <li>Windows Server Administration Fundamentals 98-365</li> 
  <li>CompTIA A+ 220-801</li>
  <li>Cisco Certified Network Associate</li>
</ul>
{%endblock%}

</body>
</html>

	
	



